<div class="message <%=msg_type%> box_shadow">
  <div class="right"><a href="javascript:void(0)" class="close_message"><%=image_tag("delete_gray.png")%></a></div>
  <h1><%=t(msg_type)%></h1>
  <%=msg_content%>
</div>